@*
======================================
Arquivo: BlankLayout.razor
Função: Fornece uma tela limpa sem menus para o Login
======================================
*@
@inherits LayoutComponentBase

<main>
    @Body
</main>