<div id="components-reconnect-modal" class="my-reconnect-modal components-reconnect-hide">
    <div class="show">
        <p>A conexão com o servidor foi perdida. Tentando reconectar...</p>
    </div>
    <div class="failed">
        <p>Falha na reconexão. <a href="">Recarregue a página</a>.</p>
    </div>
    <div class="rejected">
        <p>Conexão recusada. <a href="">Recarregue a página</a>.</p>
    </div>
</div>