@*
======================================
Nome do arquivo: App.razor
VERSÃO: 14.7.1 (Correção Definitiva CS0234 - Global Alias)
MXFC Engenharia Ltda.
=======================================
*@
@using Microsoft.AspNetCore.Components.Web
@using static Microsoft.AspNetCore.Components.Web.RenderMode
@* O prefixo global:: impede que o compilador duplique o nome do projeto *@
@using global::CONFIN_MXFC.Web.Components

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/open-iconic/1.1.1/font/css/open-iconic-bootstrap.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="app.css" />
    <link rel="stylesheet" href="CONFIN_MXFC.Web.styles.css" />
    <HeadOutlet @rendermode="InteractiveServer" />
</head>
<body style="background-color: #f8f9fa;">
    @* Componente Routes reconhecido via namespace global *@
    <Routes @rendermode="InteractiveServer" />
    
    <script src="_framework/blazor.web.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>